<h><p><b>User Name : </b><%= current_user.username%></p></h>
<div class="row">
	<% @messages.each do |message| %>
	  <div class="col-sm-9" style="background-color: #dedef8;">
	   friend: <%= message.sender.username %>
	    <div class="row">
	      <div class="col-xs-8 col-sm-6">
	        message: <%= message.text %>
	      </div></hr>
	      <div class="col-xs-4 col-sm-6">
	      </div>
	    </div>
	  </div>
	<%end%>
</div>



